<html>

<head>
    <link rel='stylesheet' href='static/mpg.css'/>
    <title> MPG </title>
<head>
<body>
    <img source='https://www.google.com/imgres?imgurl=https%3A%2F%2Flh4.ggpht.com%2FozPMHe_IRRVycC0eP3R7z3Z69R4KyIqtitfeseI2WJPQiHTv6PKyVg-4LSa0UPlV0A7S%3Dw300-rw&imgrefurl=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.groovyapps.simplempg.free&docid=7P3wHOpVhk9x-M&tbnid=SRaDSTeaNJHIVM%3A&vet=10ahUKEwi2vf_n0P_gAhUCqp4KHfFRCH8QMwhCKAIwAg..i&w=300&h=300&itg=1&safe=off&bih=876&biw=1600&q=google%20mpg&ved=0ahUKEwi2vf_n0P_gAhUCqp4KHfFRCH8QMwhCKAIwAg&iact=mrc&uact=8'>


    <ul>
        <li>
            <a href="http":..google.com"> Google </a>
        </li>
        <li>
            <a href="/"> Home </a>
        </li>
    </ul>

    <h1> Welcome to Machine Learning v 1.0 </h1>
    
    <div id='controls'>
        <label> Cylinders </label>
        <input id='cylinders' type='number' value='6'
    </div>

     <div id='controls'>
        <label> HorsePower </label>
        <input id='horsepower' type='number' value='150'
    </div>

     <div id='controls'>
        <label> Weight </label>
        <input id='weight' type='number' value='1500'
    </div>

    <div id='inference-button'>
        <div>
            <button id='inference'> Predict </button>
        </div>
        <div>
            <input id='mpg' type='text' readonly />
        </div>
    </div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='static/mpg.js'></script>

</body>
<html>




